---
layout: default
---
.
# Verification
Be sure to have EFE open at the start of your shift so that you can verify info quickly. You can access EFE from the menu in IEP. The quickest way to find a customer's account is by searching by email. If it does't get results, use any of the other options in the tool. Your results may vary.

Now that that's out of the way, remember that we **DO NOT PROVIDE** any details for verification; we **ONLY VERIFY**! You want to verify ***first and last name, phone number, and email address***. Sometimes these things will not match, but the customer insists that they are them. In that case, check with them to see if any of their information has changed. For instance, the phone number doesn't match, but the email address does. You would simply ask if they changed their number or if they remember the number that would be on file. Some people change names as well.

If they are unable to verify with these details (*Level 1*), it's best to see if they will be able to verify their *Level 2* details, which include their ***birth year, last 4 or their SSN, and their zip code***.

Customers who cannot get into their account will still need to verify and we canot provide their user name for them. They will either need to remember it, or recover it. The best practice is to provide or guide the customer to the help article: [I need help signing in to my Intuit Account](https://ttlc.intuit.com/turbotax-support/en-us/help-article/security-risk/account-recovery-request-turbotax-account/L3GhqZLVE_US_en_US). Even if the process is identical to what the customer has already tried, it usually works after following the steps in the article. This has been observed many times during my time as an agent. You just want to reassure them that you know repeating their steps can be annoying or frustrating, but following the article steps works best.
